@theme {
    --color-gray-blue-100: #F3F5F8;
    --color-gray-blue-200: #E9EDF1;
    --color-gray-blue-300: #D8E0E7;
    --color-gray-blue-400: #CAD5DF;
    --color-gray-blue-500: #B7C6D4;
    --color-gray-blue-600: #9AAFC2;
    --color-gray-blue-700: #8FA7BB;
    --color-gray-blue-800: #7D9AB3;
}