<div class="bg-gray-blue-400 w-full h-16 flex justify-between items-center rounded-md p-3 mt-3">
  <div class="flex gap-3">
    <span class="text-black font-normal text-base">{{ category().name }}</span>
  </div>
  <div class="flex gap-3">
    <button class="flex justify-center items-center w-6 h-6" (click)="openEdit()">
      <img src="assets/images/i-logo-edit.svg" class="w-4 h-4"/>
    </button>
    <button class="flex justify-center items-center w-6 h-6" (click)="categoryDelete(category().id)">
      <img src="assets/images/i-logo-delete.svg" class="w-4 h-4" />
    </button>
  </div>
</div>